In [7]:
import streamlit as st
import numpy as np
import pandas as pd
from PIL import Image, ImageDraw, ImageFont

In [8]:
df2 = pd.DataFrame(
    np.random.rand(20,3),
    columns=['a','b','c']
)

In [9]:
df2

           a         b         c
0   0.942174  0.415714  0.558641
1   0.160011  0.320457  0.578163
2   0.468008  0.449202  0.929082
3   0.259378  0.890212  0.193578
4   0.216432  0.724614  0.545214
5   0.213386  0.357887  0.497257
6   0.163975  0.727124  0.333943
7   0.196709  0.420010  0.553304
8   0.006927  0.130561  0.549804
9   0.100075  0.333332  0.889836
10  0.480473  0.998211  0.578448
11  0.630930  0.219980  0.945763
12  0.175854  0.104284  0.158184
13  0.289721  0.901338  0.610712
14  0.336840  0.811643  0.700467
15  0.919013  0.471721  0.483343
16  0.166165  0.137672  0.403368
17  0.714886  0.089390  0.272899
18  0.469589  0.515978  0.513812
19  0.006245  0.013566  0.764846

In [10]:
df3 = pd.DataFrame(
    np.random.rand(100,2)/[50,50] + [35.69,139.70],
    columns=['lat','lon']
)
df3

          lat         lon
0   35.703769  139.718345
1   35.696076  139.710807
2   35.701371  139.715158
3   35.709204  139.705312
4   35.703548  139.706652
..        ...         ...
95  35.698320  139.711755
96  35.697365  139.715981
97  35.709421  139.711657
98  35.706884  139.714354
99  35.699859  139.719951

[100 rows x 2 columns]